@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;800&display=swap');

.button-wrapper {
  font-size: 1em;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #347b81;
  border: none;
  border-radius: 25px;
  width: 232px;
  height: 52px;
  text-align: center;
}

.button-wrapper:hover {
  border: 2px solid white;
  border-width: 3px;
}

.button-wrapper p {
  color: white;
  margin: auto;
  margin-left: 10px;
}

.button-wrapper a {
  text-decoration: none;
  color: white;
}

#guest {
  font-size: 1.1em;
  font-weight: 100;
  margin-bottom: 25%;
}

#login {
  font-weight: 100;
  font-size: 1.1em;
}

#login img {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-right: 0;
}

@media only screen and (min-width: 1720px) {
  #guest {
    margin-bottom: 250px;
  }
} 