@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;800&display=swap');

.button-wrapper {
  font-size: 1em;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #00F3E5;
  border: 2px solid #00F3E5;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
}

.button-wrapper:hover {
  border-color: white;
}

.button-wrapper p {
  color: white;
  margin: auto;
}

.button-wrapper a {
  text-decoration: none;
  color: white;
}

#guest {
  font-size: 1.1em;
  margin-bottom: 25%;
  margin-top: 15px;
}

#login {
  font-size: 1.1em;
  margin-top: 15%;
}
